// :root {
//   --font-roboto: "Roboto", sans-serif;
//   --font-weight-400: 400;
//   --font-weight-500: 500;
//   --font-weight-700: 700;
//   --font-size-14: 14px;
//   --font-size-16: 16px;
//   --letter-spacing: 0.03em;
//   --logo-black: #000000;
//   --color-black: #212121;
//   --color-white: #ffffff;
//   --color-blue: #2196f3;
//   --color-btn-active: #188ce8;
//   --color-gray: #757575;
//   --color-light-gray: #e5e5e5;
//   --bg-hero: #2f303a;
//   --bg-team: #f5f4fa;
//   --color-gray-border: #ececec;
//   --color-white-border: #eeeeee;
//   --color-icons: #afb1b8;
// }

$main-font: "Roboto", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$main-size: 14px;
$secondary-size: 16px;
$main-letter: 0.03em;
$main-text-color: #212121;
$secondary-text-color: #757575;
$main-white-color: #ffffff;
$black-logo: #000000;

$accent-color: #2196f3;
$accent-color-hover: #188ce8;

$color-light-gray: #e5e5e5;
$bg-black: #2f303a;
$bg-gray: #f5f4fa;
$border-gray: #ececec;
$border-white: #eeeeee;
$icon-color: #afb1b8;
